Package A - Lead Generation Automation Suite/Scenario A - HELOC (apollo-io:ListPeople).blueprint.json
{
    "name": "scenario A",
    "flow": [
        {
            "id": 1,
            "module": "apollo-io:ListPeople",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 0
            },
            "mapper": {
                "page": 1,
                "per_page": 1,
                "person_titles": [],
                "person_locations": [],
                "organization_industries": [],
                "q_keywords": ""
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apollo-io"
                            },
                            "label": "My Apollo.io connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apollo-io",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "people",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text"
                            },
                            {
                                "name": "first_name",
                                "type": "text"
                            },
                            {
                                "name": "last_name",
                                "type": "text"
                            },
                            {
                                "name": "email",
                                "type": "text"
                            },
                            {
                                "name": "phone_numbers",
                                "type": "array",
                                "spec": [
                                    {
                                        "name": "raw_number",
                                        "type": "text"
                                    },
                                    {
                                        "name": "sanitized_number",
                                        "type": "text"
                                    }
                                ]
                            },
                            {
                                "name": "organization_name",
                                "type": "text"
                            },
                            {
                                "name": "title",
                                "type": "text"
                            },
                            {
                                "name": "city",
                                "type": "text"
                            },
                            {
                                "name": "state",
                                "type": "text"
                            },
                            {
                                "name": "linkedin_url",
                                "type": "text"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5551481
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a data processor. Extract and map data from the input JSON.\n\nCOMPANY: Look for companyName, company, business_name, organization\nCONTACT NAME: Look for fullName, contact_name, name, full_name, contactName\nEMAIL: Look for email, contact_email, emailAddress, contactEmail\nPHONE: Look for phone, contact_phone, phoneNumber, contactPhone\nLINKEDIN: Look for linkedinProfileUrl, linkedin, linkedin_url, profileUrl\nLOCATION: Look for location, address, city, location_city\nROLE: Look for linkedinJobTitle, role, contact_role, jobTitle, position\nEMPLOYEE COUNT: Look for employee_count, employees, companySize, size\nNOTES: Look for linkedinHeadline, notes, description, bio, summary\n\nINDUSTRY MAPPING - CRITICAL:\n- \"Technology\" \u2192 \"software\"\n- \"Healthcare\" \u2192 \"healthcare\"\n- \"Manufacturing\" \u2192 \"manufacturing\"\n- \"Retail\" \u2192 \"retail\"\n- \"Financial Services\" \u2192 \"finance\"\n- \"Consulting\" \u2192 \"consulting services\"\n- \"Real Estate\" \u2192 \"real_estate\"\n- Anything else \u2192 \"other\"\n\nTAGS: Extract from role/industry/location using ONLY: ceo, founder, vp, director, manager, construction, healthcare, technology, high_priority, responded, meeting_schedule, software, vp_of_marketing, los_angeles, finance, senior_director_of_sales, new_york, manufacturing, operations_manager, detroit, retail, education, consulting, real_estate, marketing, legal, hr, accounting, government, nonprofit, media, energy, transportation, hospitality, project_manager, phoenix, entertainment, producer, beverly_hills\n\nLOCATION: Split city/state, use state abbreviations.\n\nReturn ONLY valid JSON. No explanations, no markdown, no code blocks. Start with { and end with }.\n\n{\n  \"lead_id\": \"{{ULID}}\",\n  \"source\": \"linkedin\",\n  \"acquired_at\": \"{{ISO8601}}\",\n  \"company\": \"\",\n  \"domain\": \"\",\n  \"industry\": \"\",\n  \"employee_count\": 0,\n  \"contact_full_name\": \"\",\n  \"contact_role\": \"\",\n  \"contact_email\": \"\",\n  \"contact_phone\": \"\",\n  \"contact_linkedin\": \"\",\n  \"location_city\": \"\",\n  \"location_state\": \"\",\n  \"status\": \"new\",\n  \"utm_list_id\": \"pb-run-2025-01-25-1320\",\n  \"tags\": [],\n  \"notes\": \"\"\n}"
                    },
                    {
                        "role": "user",
                        "content": "{{`1.people[0]`}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "1000",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 197771
            },
            "mapper": {
                "json": "{{2.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "AI JSON"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "lead_id",
                        "type": "text",
                        "label": "Lead ID",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "source",
                        "type": "text",
                        "label": "Source",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "acquired_at",
                        "type": "text",
                        "label": "Acquired at",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "company",
                        "type": "text",
                        "label": "Company",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "domain",
                        "type": "text",
                        "label": "Domain",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "industry",
                        "type": "text",
                        "label": "Industry",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "employee_count",
                        "type": "number",
                        "label": "Employee count",
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "contact_full_name",
                        "type": "text",
                        "label": "Contact full name",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "contact_role",
                        "type": "text",
                        "label": "Contact role",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "contact_email",
                        "type": "text",
                        "label": "Contact email",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "contact_phone",
                        "type": "text",
                        "label": "Contact phone",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "contact_linkedin",
                        "type": "text",
                        "label": "Contact linkedin",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "location_city",
                        "type": "text",
                        "label": "Location city",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "location_state",
                        "type": "text",
                        "label": "Location state",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "status",
                        "type": "text",
                        "label": "Status",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "utm_list_id",
                        "type": "text",
                        "label": "Utm list ID",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "tags",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": "Tags",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "notes",
                        "type": "text",
                        "label": "Notes",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5591761
            },
            "mapper": {
                "base": "appo7Y0cbtd1wa8Ph",
                "table": "tblmVnZaaWToTXxaR",
                "fields": [
                    "Lead ID",
                    "Status",
                    "Company",
                    "Domain",
                    "Notes",
                    "Industry",
                    "Employee Count",
                    "Contact Full Name",
                    "Contact Role",
                    "Contact Email",
                    "Contact Phone",
                    "Contact LinkedIN",
                    "Location City",
                    "Location State",
                    "Tags",
                    "Source",
                    "Acquired At",
                    "UTM List ID",
                    "Last Out Reach",
                    "Next Step",
                    "Meeting Link",
                    "Email Campaign",
                    "Reply Received",
                    "Meeting Completed",
                    "Pipeline Value"
                ],
                "formula": "{Contact Full Name} = '{{3.contact_full_name}}'",
                "maxRecords": "20",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Leads Manager AI CRM"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Leads"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Lead ID",
                                "Status",
                                "Company",
                                "Domain",
                                "Notes",
                                "Industry",
                                "Employee Count",
                                "Contact Full Name",
                                "Contact Role",
                                "Contact Email",
                                "Contact Phone",
                                "Contact LinkedIN",
                                "Location City",
                                "Location State",
                                "Tags",
                                "Source",
                                "Acquired At",
                                "UTM List ID",
                                "Last Out Reach",
                                "Next Step",
                                "Meeting Link",
                                "Email Campaign",
                                "Reply Received",
                                "Meeting Completed",
                                "Pipeline Value"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "Leads Manager AI CRM"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Lead ID",
                        "type": "text",
                        "label": "Lead ID"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Domain",
                        "type": "text",
                        "label": "Domain"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "Employee Count",
                        "type": "number",
                        "label": "Employee Count"
                    },
                    {
                        "name": "Contact Full Name",
                        "type": "text",
                        "label": "Contact Full Name"
                    },
                    {
                        "name": "Contact Role",
                        "type": "text",
                        "label": "Contact Role"
                    },
                    {
                        "name": "Contact Email",
                        "type": "text",
                        "label": "Contact Email"
                    },
                    {
                        "name": "Contact Phone",
                        "type": "text",
                        "label": "Contact Phone"
                    },
                    {
                        "name": "Contact LinkedIN",
                        "type": "text",
                        "label": "Contact LinkedIN"
                    },
                    {
                        "name": "Location City",
                        "type": "text",
                        "label": "Location City"
                    },
                    {
                        "name": "Location State",
                        "type": "text",
                        "label": "Location State"
                    },
                    {
                        "name": "Tags",
                        "type": "array",
                        "label": "Tags",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Source",
                        "type": "text",
                        "label": "Source"
                    },
                    {
                        "name": "Acquired At",
                        "time": false,
                        "type": "date",
                        "label": "Acquired At"
                    },
                    {
                        "name": "UTM List ID",
                        "type": "text",
                        "label": "UTM List ID"
                    },
                    {
                        "name": "Last Out Reach",
                        "time": false,
                        "type": "date",
                        "label": "Last Out Reach"
                    },
                    {
                        "name": "Next Step",
                        "type": "text",
                        "label": "Next Step"
                    },
                    {
                        "name": "Meeting Link",
                        "type": "text",
                        "label": "Meeting Link"
                    },
                    {
                        "name": "Email Campaign",
                        "type": "text",
                        "label": "Email Campaign"
                    },
                    {
                        "name": "Reply Received",
                        "type": "boolean",
                        "label": "Reply Received"
                    },
                    {
                        "name": "Meeting Completed",
                        "type": "boolean",
                        "label": "Meeting Completed"
                    },
                    {
                        "name": "Pipeline Value",
                        "type": "number",
                        "label": "Pipeline Value"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 5591761
                            },
                            "filter": {
                                "name": "Create New Lead",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appo7Y0cbtd1wa8Ph",
                                "table": "tblmVnZaaWToTXxaR",
                                "record": {
                                    "fld0dUhQR2tJm2UWJ": "{{3.contact_full_name}}",
                                    "fld0hEzx8oCh4BmJj": "{{3.utm_list_id}}",
                                    "fld8zMts2ZAWQT8IK": "{{3.notes}}",
                                    "fldH55kH3zwJ1YJjd": "{{3.employee_count}}",
                                    "fldKJWkWraWodlNrr": "{{3.tags}}",
                                    "fldLhxkFBFoxjlldt": "{{3.location_state}}",
                                    "fldMUsK87A97mKsg3": "{{3.acquired_at}}",
                                    "fldNiuYHBwm9v7uJW": "{{3.location_city}}",
                                    "fldONu2xd5kkxqPAA": "{{3.contact_role}}",
                                    "fldRXs0Dqnv9oIVcg": "{{3.domain}}",
                                    "fldSlUrQsfaVvD6EA": "{{3.contact_linkedin}}",
                                    "fldc46DkqBSnY9XJv": "{{3.industry}}",
                                    "fldgJS5dSDeCXuZLF": "{{3.contact_phone}}",
                                    "fldhpBCu1pKghfSHq": "{{3.contact_email}}",
                                    "fldqKQ1AVmSv3gFTP": "{{3.company}}",
                                    "fldqqnsOnQt4T6Ett": "{{3.lead_id}}",
                                    "fldxEEEqp6XNCRoNJ": "{{3.status}}",
                                    "fldzrMh2SISYwVOvz": "{{3.source}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Leads Manager AI CRM"
                                        },
                                        "table": {
                                            "label": "Leads",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldqqnsOnQt4T6Ett",
                                                            "type": "text",
                                                            "label": "Lead ID"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldaaK6MH9qLcoIhj",
                                                            "type": "select",
                                                            "label": "Taken By",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Marco",
                                                                    "value": "Marco"
                                                                },
                                                                {
                                                                    "label": "Willy",
                                                                    "value": "Willy"
                                                                },
                                                                {
                                                                    "label": "Max",
                                                                    "value": "Max"
                                                                },
                                                                {
                                                                    "label": "Myles",
                                                                    "value": "Myles"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldxEEEqp6XNCRoNJ",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "new",
                                                                    "value": "new"
                                                                },
                                                                {
                                                                    "label": "emailed",
                                                                    "value": "emailed"
                                                                },
                                                                {
                                                                    "label": "booked",
                                                                    "value": "booked"
                                                                },
                                                                {
                                                                    "label": "qualified",
                                                                    "value": "qualified"
                                                                },
                                                                {
                                                                    "label": "closed Won",
                                                                    "value": "closed Won"
                                                                },
                                                                {
                                                                    "label": "closed Lost",
                                                                    "value": "closed Lost"
                                                                },
                                                                {
                                                                    "label": "follow_up_sent",
                                                                    "value": "follow_up_sent"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldqKQ1AVmSv3gFTP",
                                                            "type": "text",
                                                            "label": "Company"
                                                        },
                                                        {
                                                            "name": "fldRXs0Dqnv9oIVcg",
                                                            "type": "text",
                                                            "label": "Domain"
                                                        },
                                                        {
                                                            "name": "fld8zMts2ZAWQT8IK",
                                                            "type": "text",
                                                            "label": "Notes",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldc46DkqBSnY9XJv",
                                                            "type": "select",
                                                            "label": "Industry",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "construction",
                                                                    "value": "construction"
                                                                },
                                                                {
                                                                    "label": "healthcare",
                                                                    "value": "healthcare"
                                                                },
                                                                {
                                                                    "label": "technology",
                                                                    "value": "technology"
                                                                },
                                                                {
                                                                    "label": "finance",
                                                                    "value": "finance"
                                                                },
                                                                {
                                                                    "label": "retail",
                                                                    "value": "retail"
                                                                },
                                                                {
                                                                    "label": "manufacturing",
                                                                    "value": "manufacturing"
                                                                },
                                                                {
                                                                    "label": "services",
                                                                    "value": "services"
                                                                },
                                                                {
                                                                    "label": "other",
                                                                    "value": "other"
                                                                },
                                                                {
                                                                    "label": "consulting services",
                                                                    "value": "consulting services"
                                                                },
                                                                {
                                                                    "label": "software",
                                                                    "value": "software"
                                                                },
                                                                {
                                                                    "label": "real_estate",
                                                                    "value": "real_estate"
                                                                },
                                                                {
                                                                    "label": "technology",
                                                                    "value": "technology"
                                                                },
                                                                {
                                                                    "label": "saas edtech",
                                                                    "value": "saas edtech"
                                                                },
                                                                {
                                                                    "label": "healthtech",
                                                                    "value": "healthtech"
                                                                },
                                                                {
                                                                    "label": " banking ",
                                                                    "value": " banking "
                                                                },
                                                                {
                                                                    "label": "investment",
                                                                    "value": "investment"
                                                                },
                                                                {
                                                                    "label": "medical",
                                                                    "value": "medical"
                                                                },
                                                                {
                                                                    "label": "ecommerce",
                                                                    "value": "ecommerce"
                                                                },
                                                                {
                                                                    "label": "marketing",
                                                                    "value": "marketing"
                                                                },
                                                                {
                                                                    "label": "vp_of_marketing",
                                                                    "value": "vp_of_marketing"
                                                                },
                                                                {
                                                                    "label": "entertainment",
                                                                    "value": "entertainment"
                                                                },
                                                                {
                                                                    "label": "Technology",
                                                                    "value": "Technology"
                                                                },
                                                                {
                                                                    "label": "sales",
                                                                    "value": "sales"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldH55kH3zwJ1YJjd",
                                                            "type": "number",
                                                            "label": "Employee Count"
                                                        },
                                                        {
                                                            "name": "fld0dUhQR2tJm2UWJ",
                                                            "type": "text",
                                                            "label": "Contact Full Name"
                                                        },
                                                        {
                                                            "name": "fldONu2xd5kkxqPAA",
                                                            "type": "text",
                                                            "label": "Contact Role"
                                                        },
                                                        {
                                                            "name": "fldhpBCu1pKghfSHq",
                                                            "type": "text",
                                                            "label": "Contact Email"
                                                        },
                                                        {
                                                            "name": "fldgJS5dSDeCXuZLF",
                                                            "type": "text",
                                                            "label": "Contact Phone"
                                                        },
                                                        {
                                                            "name": "fldSlUrQsfaVvD6EA",
                                                            "type": "text",
                                                            "label": "Contact LinkedIN"
                                                        },
                                                        {
                                                            "name": "fldNiuYHBwm9v7uJW",
                                                            "type": "text",
                                                            "label": "Location City"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldLhxkFBFoxjlldt",
                                                            "type": "select",
                                                            "label": "Location State",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "AL",
                                                                    "value": "AL"
                                                                },
                                                                {
                                                                    "label": "AK",
                                                                    "value": "AK"
                                                                },
                                                                {
                                                                    "label": "AZ",
                                                                    "value": "AZ"
                                                                },
                                                                {
                                                                    "label": "AR",
                                                                    "value": "AR"
                                                                },
                                                                {
                                                                    "label": "CA",
                                                                    "value": "CA"
                                                                },
                                                                {
                                                                    "label": "CO",
                                                                    "value": "CO"
                                                                },
                                                                {
                                                                    "label": "CT",
                                                                    "value": "CT"
                                                                },
                                                                {
                                                                    "label": "DE",
                                                                    "value": "DE"
                                                                },
                                                                {
                                                                    "label": "FL",
                                                                    "value": "FL"
                                                                },
                                                                {
                                                                    "label": "GA",
                                                                    "value": "GA"
                                                                },
                                                                {
                                                                    "label": "HI",
                                                                    "value": "HI"
                                                                },
                                                                {
                                                                    "label": "ID",
                                                                    "value": "ID"
                                                                },
                                                                {
                                                                    "label": "IL",
                                                                    "value": "IL"
                                                                },
                                                                {
                                                                    "label": "IN",
                                                                    "value": "IN"
                                                                },
                                                                {
                                                                    "label": "IA",
                                                                    "value": "IA"
                                                                },
                                                                {
                                                                    "label": "KS",
                                                                    "value": "KS"
                                                                },
                                                                {
                                                                    "label": "KY",
                                                                    "value": "KY"
                                                                },
                                                                {
                                                                    "label": "LA",
                                                                    "value": "LA"
                                                                },
                                                                {
                                                                    "label": "ME",
                                                                    "value": "ME"
                                                                },
                                                                {
                                                                    "label": "MD",
                                                                    "value": "MD"
                                                                },
                                                                {
                                                                    "label": "MA",
                                                                    "value": "MA"
                                                                },
                                                                {
                                                                    "label": "MI",
                                                                    "value": "MI"
                                                                },
                                                                {
                                                                    "label": "MN",
                                                                    "value": "MN"
                                                                },
                                                                {
                                                                    "label": "MS",
                                                                    "value": "MS"
                                                                },
                                                                {
                                                                    "label": "MO",
                                                                    "value": "MO"
                                                                },
                                                                {
                                                                    "label": "MT",
                                                                    "value": "MT"
                                                                },
                                                                {
                                                                    "label": "NE",
                                                                    "value": "NE"
                                                                },
                                                                {
                                                                    "label": "NV",
                                                                    "value": "NV"
                                                                },
                                                                {
                                                                    "label": "NH",
                                                                    "value": "NH"
                                                                },
                                                                {
                                                                    "label": "NJ",
                                                                    "value": "NJ"
                                                                },
                                                                {
                                                                    "label": "NM",
                                                                    "value": "NM"
                                                                },
                                                                {
                                                                    "label": "NY",
                                                                    "value": "NY"
                                                                },
                                                                {
                                                                    "label": "NC",
                                                                    "value": "NC"
                                                                },
                                                                {
                                                                    "label": "ND",
                                                                    "value": "ND"
                                                                },
                                                                {
                                                                    "label": "OH",
                                                                    "value": "OH"
                                                                },
                                                                {
                                                                    "label": "OK",
                                                                    "value": "OK"
                                                                },
                                                                {
                                                                    "label": "OR",
                                                                    "value": "OR"
                                                                },
                                                                {
                                                                    "label": "PA",
                                                                    "value": "PA"
                                                                },
                                                                {
                                                                    "label": "RI",
                                                                    "value": "RI"
                                                                },
                                                                {
                                                                    "label": "SC",
                                                                    "value": "SC"
                                                                },
                                                                {
                                                                    "label": "SD",
                                                                    "value": "SD"
                                                                },
                                                                {
                                                                    "label": "TN",
                                                                    "value": "TN"
                                                                },
                                                                {
                                                                    "label": "TX",
                                                                    "value": "TX"
                                                                },
                                                                {
                                                                    "label": "UT",
                                                                    "value": "UT"
                                                                },
                                                                {
                                                                    "label": "VT",
                                                                    "value": "VT"
                                                                },
                                                                {
                                                                    "label": "VA",
                                                                    "value": "VA"
                                                                },
                                                                {
                                                                    "label": "WA",
                                                                    "value": "WA"
                                                                },
                                                                {
                                                                    "label": "WV",
                                                                    "value": "WV"
                                                                },
                                                                {
                                                                    "label": "WI",
                                                                    "value": "WI"
                                                                },
                                                                {
                                                                    "label": "WY",
                                                                    "value": "WY"
                                                                },
                                                                {
                                                                    "label": "",
                                                                    "value": ""
                                                                },
                                                                {
                                                                    "label": "Other",
                                                                    "value": "Other"
                                                                },
                                                                {
                                                                    "label": "United States ",
                                                                    "value": "United States "
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldKJWkWraWodlNrr",
                                                            "spec": {
                                                                "mode": "edit",
                                                                "type": "select",
                                                                "label": "Value",
                                                                "dynamic": true,
                                                                "options": [
                                                                    {
                                                                        "label": "ceo",
                                                                        "value": "ceo"
                                                                    },
                                                                    {
                                                                        "label": "founder",
                                                                        "value": "founder"
                                                                    },
                                                                    {
                                                                        "label": "vp",
                                                                        "value": "vp"
                                                                    },
                                                                    {
                                                                        "label": "director",
                                                                        "value": "director"
                                                                    },
                                                                    {
                                                                        "label": "manager",
                                                                        "value": "manager"
                                                                    },
                                                                    {
                                                                        "label": "construction",
                                                                        "value": "construction"
                                                                    },
                                                                    {
                                                                        "label": "healthcare",
                                                                        "value": "healthcare"
                                                                    },
                                                                    {
                                                                        "label": "technology",
                                                                        "value": "technology"
                                                                    },
                                                                    {
                                                                        "label": "high_priority",
                                                                        "value": "high_priority"
                                                                    },
                                                                    {
                                                                        "label": "responded",
                                                                        "value": "responded"
                                                                    },
                                                                    {
                                                                        "label": "meeting_schedule",
                                                                        "value": "meeting_schedule"
                                                                    },
                                                                    {
                                                                        "label": "software",
                                                                        "value": "software"
                                                                    },
                                                                    {
                                                                        "label": "vp_of_marketing",
                                                                        "value": "vp_of_marketing"
                                                                    },
                                                                    {
                                                                        "label": "los_angeles",
                                                                        "value": "los_angeles"
                                                                    },
                                                                    {
                                                                        "label": "finance",
                                                                        "value": "finance"
                                                                    },
                                                                    {
                                                                        "label": "senior_director_of_sales",
                                                                        "value": "senior_director_of_sales"
                                                                    },
                                                                    {
                                                                        "label": "new_york",
                                                                        "value": "new_york"
                                                                    },
                                                                    {
                                                                        "label": "manufacturing",
                                                                        "value": "manufacturing"
                                                                    },
                                                                    {
                                                                        "label": "operations_manager",
                                                                        "value": "operations_manager"
                                                                    },
                                                                    {
                                                                        "label": "detroit",
                                                                        "value": "detroit"
                                                                    },
                                                                    {
                                                                        "label": "retail",
                                                                        "value": "retail"
                                                                    },
                                                                    {
                                                                        "label": "education",
                                                                        "value": "education"
                                                                    },
                                                                    {
                                                                        "label": "consulting",
                                                                        "value": "consulting"
                                                                    },
                                                                    {
                                                                        "label": "real_estate",
                                                                        "value": "real_estate"
                                                                    },
                                                                    {
                                                                        "label": "marketing",
                                                                        "value": "marketing"
                                                                    },
                                                                    {
                                                                        "label": "legal",
                                                                        "value": "legal"
                                                                    },
                                                                    {
                                                                        "label": "hr",
                                                                        "value": "hr"
                                                                    },
                                                                    {
                                                                        "label": "accounting",
                                                                        "value": "accounting"
                                                                    },
                                                                    {
                                                                        "label": "government",
                                                                        "value": "government"
                                                                    },
                                                                    {
                                                                        "label": "nonprofit",
                                                                        "value": "nonprofit"
                                                                    },
                                                                    {
                                                                        "label": "media",
                                                                        "value": "media"
                                                                    },
                                                                    {
                                                                        "label": "energy",
                                                                        "value": "energy"
                                                                    },
                                                                    {
                                                                        "label": "transportation",
                                                                        "value": "transportation"
                                                                    },
                                                                    {
                                                                        "label": "hospitality",
                                                                        "value": "hospitality"
                                                                    },
                                                                    {
                                                                        "label": "project_manager",
                                                                        "value": "project_manager"
                                                                    },
                                                                    {
                                                                        "label": "phoenix",
                                                                        "value": "phoenix"
                                                                    },
                                                                    {
                                                                        "label": "entertainment",
                                                                        "value": "entertainment"
                                                                    },
                                                                    {
                                                                        "label": "producer",
                                                                        "value": "producer"
                                                                    },
                                                                    {
                                                                        "label": "beverly_hills",
                                                                        "value": "beverly_hills"
                                                                    },
                                                                    {
                                                                        "label": "sales",
                                                                        "value": "sales"
                                                                    },
                                                                    {
                                                                        "label": "United States",
                                                                        "value": "United States"
                                                                    },
                                                                    {
                                                                        "label": "DL",
                                                                        "value": "DL"
                                                                    },
                                                                    {
                                                                        "label": "UK",
                                                                        "value": "UK"
                                                                    }
                                                                ],
                                                                "validate": false
                                                            },
                                                            "type": "array",
                                                            "label": "Tags"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldzrMh2SISYwVOvz",
                                                            "type": "select",
                                                            "label": "Source",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "linkedin",
                                                                    "value": "linkedin"
                                                                },
                                                                {
                                                                    "label": "phantombuster",
                                                                    "value": "phantombuster"
                                                                },
                                                                {
                                                                    "label": "glassdoor",
                                                                    "value": "glassdoor"
                                                                },
                                                                {
                                                                    "label": "manual",
                                                                    "value": "manual"
                                                                },
                                                                {
                                                                    "label": "upwork",
                                                                    "value": "upwork"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldMUsK87A97mKsg3",
                                                            "time": false,
                                                            "type": "date",
                                                            "label": "Acquired At"
                                                        },
                                                        {
                                                            "name": "fld0hEzx8oCh4BmJj",
                                                            "type": "text",
                                                            "label": "UTM List ID"
                                                        },
                                                        {
                                                            "name": "fldFodc3E3nJ9yzva",
                                                            "time": false,
                                                            "type": "date",
                                                            "label": "Last Out Reach"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld231lb1J0a7CAWJ",
                                                            "type": "select",
                                                            "label": "Next Step",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Initial Email",
                                                                    "value": "Initial Email"
                                                                },
                                                                {
                                                                    "label": "Follow Up 1",
                                                                    "value": "Follow Up 1"
                                                                },
                                                                {
                                                                    "label": " Follow Up 2",
                                                                    "value": " Follow Up 2"
                                                                },
                                                                {
                                                                    "label": "Meeting Scheduled",
                                                                    "value": "Meeting Scheduled"
                                                                },
                                                                {
                                                                    "label": "Nurture",
                                                                    "value": "Nurture"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "name": "fldUkRLP0yUkjgzbF",
                                                            "type": "text",
                                                            "label": "Meeting Link"
                                                        },
                                                        {
                                                            "name": "fldFU5cYbHBHmTpHr",
                                                            "type": "text",
                                                            "label": "Email Campaign"
                                                        },
                                                        {
                                                            "name": "fldDrdS6pE666IRPQ",
                                                            "type": "boolean",
                                                            "label": "Reply Received"
                                                        },
                                                        {
                                                            "name": "fldr89utVJkMtESRE",
                                                            "type": "boolean",
                                                            "label": "Meeting Completed"
                                                        },
                                                        {
                                                            "name": "fldI6vAZT6kKwwDbg",
                                                            "type": "number",
                                                            "label": "Pipeline Value"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld231lb1J0a7CAWJ": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "fldDrdS6pE666IRPQ": {
                                                    "mode": "chose"
                                                },
                                                "fldKJWkWraWodlNrr": {
                                                    "mode": "edit"
                                                },
                                                "fldLhxkFBFoxjlldt": {
                                                    "mode": "edit"
                                                },
                                                "fldaaK6MH9qLcoIhj": {
                                                    "mode": "edit"
                                                },
                                                "fldc46DkqBSnY9XJv": {
                                                    "mode": "edit"
                                                },
                                                "fldr89utVJkMtESRE": {
                                                    "mode": "chose"
                                                },
                                                "fldxEEEqp6XNCRoNJ": {
                                                    "mode": "edit"
                                                },
                                                "fldzrMh2SISYwVOvz": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "Leads Manager AI CRM"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldqqnsOnQt4T6Ett",
                                                "type": "text",
                                                "label": "Lead ID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldaaK6MH9qLcoIhj",
                                                "type": "select",
                                                "label": "Taken By"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldxEEEqp6XNCRoNJ",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldqKQ1AVmSv3gFTP",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "fldRXs0Dqnv9oIVcg",
                                                "type": "text",
                                                "label": "Domain"
                                            },
                                            {
                                                "name": "fld8zMts2ZAWQT8IK",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldc46DkqBSnY9XJv",
                                                "type": "select",
                                                "label": "Industry"
                                            },
                                            {
                                                "name": "fldH55kH3zwJ1YJjd",
                                                "type": "number",
                                                "label": "Employee Count"
                                            },
                                            {
                                                "name": "fld0dUhQR2tJm2UWJ",
                                                "type": "text",
                                                "label": "Contact Full Name"
                                            },
                                            {
                                                "name": "fldONu2xd5kkxqPAA",
                                                "type": "text",
                                                "label": "Contact Role"
                                            },
                                            {
                                                "name": "fldhpBCu1pKghfSHq",
                                                "type": "text",
                                                "label": "Contact Email"
                                            },
                                            {
                                                "name": "fldgJS5dSDeCXuZLF",
                                                "type": "text",
                                                "label": "Contact Phone"
                                            },
                                            {
                                                "name": "fldSlUrQsfaVvD6EA",
                                                "type": "text",
                                                "label": "Contact LinkedIN"
                                            },
                                            {
                                                "name": "fldNiuYHBwm9v7uJW",
                                                "type": "text",
                                                "label": "Location City"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldLhxkFBFoxjlldt",
                                                "type": "select",
                                                "label": "Location State"
                                            },
                                            {
                                                "name": "fldKJWkWraWodlNrr",
                                                "spec": {
                                                    "mode": "edit",
                                                    "name": "value",
                                                    "type": "select",
                                                    "label": "Value",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "ceo",
                                                            "value": "ceo"
                                                        },
                                                        {
                                                            "label": "founder",
                                                            "value": "founder"
                                                        },
                                                        {
                                                            "label": "vp",
                                                            "value": "vp"
                                                        },
                                                        {
                                                            "label": "director",
                                                            "value": "director"
                                                        },
                                                        {
                                                            "label": "manager",
                                                            "value": "manager"
                                                        },
                                                        {
                                                            "label": "construction",
                                                            "value": "construction"
                                                        },
                                                        {
                                                            "label": "healthcare",
                                                            "value": "healthcare"
                                                        },
                                                        {
                                                            "label": "technology",
                                                            "value": "technology"
                                                        },
                                                        {
                                                            "label": "high_priority",
                                                            "value": "high_priority"
                                                        },
                                                        {
                                                            "label": "responded",
                                                            "value": "responded"
                                                        },
                                                        {
                                                            "label": "meeting_schedule",
                                                            "value": "meeting_schedule"
                                                        },
                                                        {
                                                            "label": "software",
                                                            "value": "software"
                                                        },
                                                        {
                                                            "label": "vp_of_marketing",
                                                            "value": "vp_of_marketing"
                                                        },
                                                        {
                                                            "label": "los_angeles",
                                                            "value": "los_angeles"
                                                        },
                                                        {
                                                            "label": "finance",
                                                            "value": "finance"
                                                        },
                                                        {
                                                            "label": "senior_director_of_sales",
                                                            "value": "senior_director_of_sales"
                                                        },
                                                        {
                                                            "label": "new_york",
                                                            "value": "new_york"
                                                        },
                                                        {
                                                            "label": "manufacturing",
                                                            "value": "manufacturing"
                                                        },
                                                        {
                                                            "label": "operations_manager",
                                                            "value": "operations_manager"
                                                        },
                                                        {
                                                            "label": "detroit",
                                                            "value": "detroit"
                                                        },
                                                        {
                                                            "label": "retail",
                                                            "value": "retail"
                                                        },
                                                        {
                                                            "label": "education",
                                                            "value": "education"
                                                        },
                                                        {
                                                            "label": "consulting",
                                                            "value": "consulting"
                                                        },
                                                        {
                                                            "label": "real_estate",
                                                            "value": "real_estate"
                                                        },
                                                        {
                                                            "label": "marketing",
                                                            "value": "marketing"
                                                        },
                                                        {
                                                            "label": "legal",
                                                            "value": "legal"
                                                        },
                                                        {
                                                            "label": "hr",
                                                            "value": "hr"
                                                        },
                                                        {
                                                            "label": "accounting",
                                                            "value": "accounting"
                                                        },
                                                        {
                                                            "label": "government",
                                                            "value": "government"
                                                        },
                                                        {
                                                            "label": "nonprofit",
                                                            "value": "nonprofit"
                                                        },
                                                        {
                                                            "label": "media",
                                                            "value": "media"
                                                        },
                                                        {
                                                            "label": "energy",
                                                            "value": "energy"
                                                        },
                                                        {
                                                            "label": "transportation",
                                                            "value": "transportation"
                                                        },
                                                        {
                                                            "label": "hospitality",
                                                            "value": "hospitality"
                                                        },
                                                        {
                                                            "label": "project_manager",
                                                            "value": "project_manager"
                                                        },
                                                        {
                                                            "label": "phoenix",
                                                            "value": "phoenix"
                                                        },
                                                        {
                                                            "label": "entertainment",
                                                            "value": "entertainment"
                                                        },
                                                        {
                                                            "label": "producer",
                                                            "value": "producer"
                                                        },
                                                        {
                                                            "label": "beverly_hills",
                                                            "value": "beverly_hills"
                                                        },
                                                        {
                                                            "label": "sales",
                                                            "value": "sales"
                                                        },
                                                        {
                                                            "label": "United States",
                                                            "value": "United States"
                                                        },
                                                        {
                                                            "label": "DL",
                                                            "value": "DL"
                                                        },
                                                        {
                                                            "label": "UK",
                                                            "value": "UK"
                                                        }
                                                    ],
                                                    "validate": false
                                                },
                                                "type": "array",
                                                "label": "Tags"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldzrMh2SISYwVOvz",
                                                "type": "select",
                                                "label": "Source"
                                            },
                                            {
                                                "name": "fldMUsK87A97mKsg3",
                                                "time": false,
                                                "type": "date",
                                                "label": "Acquired At"
                                            },
                                            {
                                                "name": "fld0hEzx8oCh4BmJj",
                                                "type": "text",
                                                "label": "UTM List ID"
                                            },
                                            {
                                                "name": "fldFodc3E3nJ9yzva",
                                                "time": false,
                                                "type": "date",
                                                "label": "Last Out Reach"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld231lb1J0a7CAWJ",
                                                "type": "select",
                                                "label": "Next Step"
                                            },
                                            {
                                                "name": "fldUkRLP0yUkjgzbF",
                                                "type": "text",
                                                "label": "Meeting Link"
                                            },
                                            {
                                                "name": "fldFU5cYbHBHmTpHr",
                                                "type": "text",
                                                "label": "Email Campaign"
                                            },
                                            {
                                                "name": "fldDrdS6pE666IRPQ",
                                                "type": "boolean",
                                                "label": "Reply Received"
                                            },
                                            {
                                                "name": "fldr89utVJkMtESRE",
                                                "type": "boolean",
                                                "label": "Meeting Completed"
                                            },
                                            {
                                                "name": "fldI6vAZT6kKwwDbg",
                                                "type": "number",
                                                "label": "Pipeline Value"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Lead ID",
                                        "type": "text",
                                        "label": "Lead ID"
                                    },
                                    {
                                        "name": "Taken By",
                                        "type": "text",
                                        "label": "Taken By"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Company",
                                        "type": "text",
                                        "label": "Company"
                                    },
                                    {
                                        "name": "Domain",
                                        "type": "text",
                                        "label": "Domain"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Industry",
                                        "type": "text",
                                        "label": "Industry"
                                    },
                                    {
                                        "name": "Employee Count",
                                        "type": "number",
                                        "label": "Employee Count"
                                    },
                                    {
                                        "name": "Contact Full Name",
                                        "type": "text",
                                        "label": "Contact Full Name"
                                    },
                                    {
                                        "name": "Contact Role",
                                        "type": "text",
                                        "label": "Contact Role"
                                    },
                                    {
                                        "name": "Contact Email",
                                        "type": "text",
                                        "label": "Contact Email"
                                    },
                                    {
                                        "name": "Contact Phone",
                                        "type": "text",
                                        "label": "Contact Phone"
                                    },
                                    {
                                        "name": "Contact LinkedIN",
                                        "type": "text",
                                        "label": "Contact LinkedIN"
                                    },
                                    {
                                        "name": "Location City",
                                        "type": "text",
                                        "label": "Location City"
                                    },
                                    {
                                        "name": "Location State",
                                        "type": "text",
                                        "label": "Location State"
                                    },
                                    {
                                        "name": "Tags",
                                        "type": "array",
                                        "label": "Tags",
                                        "dynamic": true,
                                        "editable": true
                                    },
                                    {
                                        "name": "Source",
                                        "type": "text",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "Acquired At",
                                        "time": false,
                                        "type": "date",
                                        "label": "Acquired At"
                                    },
                                    {
                                        "name": "Time Created",
                                        "type": "date",
                                        "label": "Time Created"
                                    },
                                    {
                                        "name": "Last Modified Time",
                                        "type": "date",
                                        "label": "Last Modified Time"
                                    },
                                    {
                                        "name": "UTM List ID",
                                        "type": "text",
                                        "label": "UTM List ID"
                                    },
                                    {
                                        "name": "Last Out Reach",
                                        "time": false,
                                        "type": "date",
                                        "label": "Last Out Reach"
                                    },
                                    {
                                        "name": "Next Step",
                                        "type": "text",
                                        "label": "Next Step"
                                    },
                                    {
                                        "name": "Meeting Link",
                                        "type": "text",
                                        "label": "Meeting Link"
                                    },
                                    {
                                        "name": "Email Campaign",
                                        "type": "text",
                                        "label": "Email Campaign"
                                    },
                                    {
                                        "name": "Reply Received",
                                        "type": "boolean",
                                        "label": "Reply Received"
                                    },
                                    {
                                        "name": "Meeting Completed",
                                        "type": "boolean",
                                        "label": "Meeting Completed"
                                    },
                                    {
                                        "name": "Pipeline Value",
                                        "type": "number",
                                        "label": "Pipeline Value"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 5591761
                            },
                            "filter": {
                                "name": "Update Existing Lead",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`__IMTLENGTH__`}}",
                                            "b": "1",
                                            "o": "number:greaterorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{4.id}}",
                                "base": "appo7Y0cbtd1wa8Ph",
                                "table": "tblmVnZaaWToTXxaR",
                                "record": {
                                    "fld0dUhQR2tJm2UWJ": "{{3.contact_full_name}}",
                                    "fld0hEzx8oCh4BmJj": "{{3.utm_list_id}}",
                                    "fld8zMts2ZAWQT8IK": "{{3.notes}}",
                                    "fldH55kH3zwJ1YJjd": "{{3.employee_count}}",
                                    "fldLhxkFBFoxjlldt": "{{3.location_state}}",
                                    "fldMUsK87A97mKsg3": "{{3.acquired_at}}",
                                    "fldNiuYHBwm9v7uJW": "{{3.location_city}}",
                                    "fldONu2xd5kkxqPAA": "{{3.contact_role}}",
                                    "fldRXs0Dqnv9oIVcg": "{{3.domain}}",
                                    "fldSlUrQsfaVvD6EA": "{{3.contact_linkedin}}",
                                    "fldc46DkqBSnY9XJv": "{{3.industry}}",
                                    "fldgJS5dSDeCXuZLF": "{{3.contact_phone}}",
                                    "fldhpBCu1pKghfSHq": "{{3.contact_email}}",
                                    "fldqKQ1AVmSv3gFTP": "{{3.company}}",
                                    "fldqqnsOnQt4T6Ett": "{{3.lead_id}}",
                                    "fldxEEEqp6XNCRoNJ": "{{3.status}}",
                                    "fldzrMh2SISYwVOvz": "{{3.source}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Leads Manager AI CRM"
                                        },
                                        "table": {
                                            "label": "Leads"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld231lb1J0a7CAWJ": {
                                                    "mode": "edit"
                                                },
                                                "fldDrdS6pE666IRPQ": {
                                                    "mode": "chose"
                                                },
                                                "fldKJWkWraWodlNrr": {
                                                    "mode": "chose"
                                                },
                                                "fldLhxkFBFoxjlldt": {
                                                    "mode": "edit"
                                                },
                                                "fldc46DkqBSnY9XJv": {
                                                    "mode": "edit"
                                                },
                                                "fldr89utVJkMtESRE": {
                                                    "mode": "chose"
                                                },
                                                "fldxEEEqp6XNCRoNJ": {
                                                    "mode": "edit"
                                                },
                                                "fldzrMh2SISYwVOvz": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "Leads Manager AI CRM"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldqqnsOnQt4T6Ett",
                                                "type": "text",
                                                "label": "Lead ID"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldxEEEqp6XNCRoNJ",
                                                "type": "select",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "fldqKQ1AVmSv3gFTP",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "fldRXs0Dqnv9oIVcg",
                                                "type": "text",
                                                "label": "Domain"
                                            },
                                            {
                                                "name": "fld8zMts2ZAWQT8IK",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldc46DkqBSnY9XJv",
                                                "type": "select",
                                                "label": "Industry"
                                            },
                                            {
                                                "name": "fldH55kH3zwJ1YJjd",
                                                "type": "number",
                                                "label": "Employee Count"
                                            },
                                            {
                                                "name": "fld0dUhQR2tJm2UWJ",
                                                "type": "text",
                                                "label": "Contact Full Name"
                                            },
                                            {
                                                "name": "fldONu2xd5kkxqPAA",
                                                "type": "text",
                                                "label": "Contact Role"
                                            },
                                            {
                                                "name": "fldhpBCu1pKghfSHq",
                                                "type": "text",
                                                "label": "Contact Email"
                                            },
                                            {
                                                "name": "fldgJS5dSDeCXuZLF",
                                                "type": "text",
                                                "label": "Contact Phone"
                                            },
                                            {
                                                "name": "fldSlUrQsfaVvD6EA",
                                                "type": "text",
                                                "label": "Contact LinkedIN"
                                            },
                                            {
                                                "name": "fldNiuYHBwm9v7uJW",
                                                "type": "text",
                                                "label": "Location City"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldLhxkFBFoxjlldt",
                                                "type": "select",
                                                "label": "Location State"
                                            },
                                            {
                                                "name": "fldKJWkWraWodlNrr",
                                                "spec": {
                                                    "mode": "edit",
                                                    "name": "value",
                                                    "type": "select",
                                                    "label": "Value",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "CEO",
                                                            "value": "CEO"
                                                        },
                                                        {
                                                            "label": " Founder ",
                                                            "value": " Founder "
                                                        },
                                                        {
                                                            "label": "VP",
                                                            "value": "VP"
                                                        },
                                                        {
                                                            "label": "Director",
                                                            "value": "Director"
                                                        },
                                                        {
                                                            "label": "Manager",
                                                            "value": "Manager"
                                                        },
                                                        {
                                                            "label": "Chicago ",
                                                            "value": "Chicago "
                                                        },
                                                        {
                                                            "label": "Construction",
                                                            "value": "Construction"
                                                        },
                                                        {
                                                            "label": "Healthcare",
                                                            "value": "Healthcare"
                                                        },
                                                        {
                                                            "label": " Tech",
                                                            "value": " Tech"
                                                        },
                                                        {
                                                            "label": "High-Priority",
                                                            "value": "High-Priority"
                                                        },
                                                        {
                                                            "label": "Responded",
                                                            "value": "Responded"
                                                        },
                                                        {
                                                            "label": "Meeting-schedule",
                                                            "value": "Meeting-schedule"
                                                        }
                                                    ],
                                                    "validate": false
                                                },
                                                "type": "array",
                                                "label": "Tags"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldzrMh2SISYwVOvz",
                                                "type": "select",
                                                "label": "Source"
                                            },
                                            {
                                                "name": "fldMUsK87A97mKsg3",
                                                "time": false,
                                                "type": "date",
                                                "label": "Acquired At"
                                            },
                                            {
                                                "name": "fld0hEzx8oCh4BmJj",
                                                "type": "text",
                                                "label": "UTM List ID"
                                            },
                                            {
                                                "name": "fldFodc3E3nJ9yzva",
                                                "time": false,
                                                "type": "date",
                                                "label": "Last Out Reach"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld231lb1J0a7CAWJ",
                                                "type": "select",
                                                "label": "Next Step"
                                            },
                                            {
                                                "name": "fldUkRLP0yUkjgzbF",
                                                "type": "text",
                                                "label": "Meeting Link"
                                            },
                                            {
                                                "name": "fldFU5cYbHBHmTpHr",
                                                "type": "text",
                                                "label": "Email Campaign"
                                            },
                                            {
                                                "name": "fldDrdS6pE666IRPQ",
                                                "type": "boolean",
                                                "label": "Reply Received"
                                            },
                                            {
                                                "name": "fldr89utVJkMtESRE",
                                                "type": "boolean",
                                                "label": "Meeting Completed"
                                            },
                                            {
                                                "name": "fldI6vAZT6kKwwDbg",
                                                "type": "number",
                                                "label": "Pipeline Value"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Lead ID",
                                        "type": "text",
                                        "label": "Lead ID"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Company",
                                        "type": "text",
                                        "label": "Company"
                                    },
                                    {
                                        "name": "Domain",
                                        "type": "text",
                                        "label": "Domain"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Industry",
                                        "type": "text",
                                        "label": "Industry"
                                    },
                                    {
                                        "name": "Employee Count",
                                        "type": "number",
                                        "label": "Employee Count"
                                    },
                                    {
                                        "name": "Contact Full Name",
                                        "type": "text",
                                        "label": "Contact Full Name"
                                    },
                                    {
                                        "name": "Contact Role",
                                        "type": "text",
                                        "label": "Contact Role"
                                    },
                                    {
                                        "name": "Contact Email",
                                        "type": "text",
                                        "label": "Contact Email"
                                    },
                                    {
                                        "name": "Contact Phone",
                                        "type": "text",
                                        "label": "Contact Phone"
                                    },
                                    {
                                        "name": "Contact LinkedIN",
                                        "type": "text",
                                        "label": "Contact LinkedIN"
                                    },
                                    {
                                        "name": "Location City",
                                        "type": "text",
                                        "label": "Location City"
                                    },
                                    {
                                        "name": "Location State",
                                        "type": "text",
                                        "label": "Location State"
                                    },
                                    {
                                        "name": "Tags",
                                        "type": "array",
                                        "label": "Tags",
                                        "dynamic": true,
                                        "editable": true
                                    },
                                    {
                                        "name": "Source",
                                        "type": "text",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "Acquired At",
                                        "time": false,
                                        "type": "date",
                                        "label": "Acquired At"
                                    },
                                    {
                                        "name": "UTM List ID",
                                        "type": "text",
                                        "label": "UTM List ID"
                                    },
                                    {
                                        "name": "Last Out Reach",
                                        "time": false,
                                        "type": "date",
                                        "label": "Last Out Reach"
                                    },
                                    {
                                        "name": "Next Step",
                                        "type": "text",
                                        "label": "Next Step"
                                    },
                                    {
                                        "name": "Meeting Link",
                                        "type": "text",
                                        "label": "Meeting Link"
                                    },
                                    {
                                        "name": "Email Campaign",
                                        "type": "text",
                                        "label": "Email Campaign"
                                    },
                                    {
                                        "name": "Reply Received",
                                        "type": "boolean",
                                        "label": "Reply Received"
                                    },
                                    {
                                        "name": "Meeting Completed",
                                        "type": "boolean",
                                        "label": "Meeting Completed"
                                    },
                                    {
                                        "name": "Pipeline Value",
                                        "type": "number",
                                        "label": "Pipeline Value"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}