Package 2A - Missed Call & AI Text Response Suite/Scenario A - Missed Call Text-Back.blueprint.json
{
    "name": "Scenario 2A-A - Missed Call Text-Back",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1383407,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Twilio missed call webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "CallSid",
                        "type": "text"
                    },
                    {
                        "name": "From",
                        "type": "text"
                    },
                    {
                        "name": "To",
                        "type": "text"
                    },
                    {
                        "name": "CallStatus",
                        "type": "text"
                    },
                    {
                        "name": "CallDuration",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "route": "if-else"
            },
            "mapper": {
                "filter": "{{1.CallStatus}} = \"no-answer\" OR {{1.CallStatus}} = \"busy\" OR {{1.CallStatus}} = \"failed\""
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            }
        },
        {
            "id": 3,
            "module": "twilio:CreateMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5551481
            },
            "mapper": {
                "to": "{{1.From}}",
                "from": "{{1.To}}",
                "body": "Hi! Sorry we missed your call. How can we help you today? Reply to this message and we'll get back to you right away. Reply STOP to opt out."
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5591761,
                "base": "appo7Y0cbtd1wa8Ph",
                "table": "tblmVnZaaWToTXxaR"
            },
            "mapper": {
                "formula": "{Contact Phone} = '{{1.From}}'",
                "maxRecords": 1,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "route": "if-else"
            },
            "mapper": {
                "filter": "{{4.id[0]}} is empty"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            }
        },
        {
            "id": 6,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5591761,
                "base": "appo7Y0cbtd1wa8Ph",
                "table": "tblmVnZaaWToTXxaR"
            },
            "mapper": {
                "record": {
                    "Contact Phone": "{{1.From}}",
                    "Status": "missed_call_texted",
                    "Last Out Reach": "{{now}}",
                    "Notes": "Missed call detected at {{now}}. Text-back message sent via Scenario A."
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 50
                }
            }
        },
        {
            "id": 7,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5591761,
                "base": "appo7Y0cbtd1wa8Ph",
                "table": "tblmVnZaaWToTXxaR"
            },
            "mapper": {
                "id": "{{4.id[0]}}",
                "record": {
                    "Status": "missed_call_texted",
                    "Last Out Reach": "{{now}}",
                    "Notes": "Missed call detected at {{now}}. Text-back message sent via Scenario A."
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 250
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": ["All modules verified working: gateway:CustomWebHook, builtin:BasicRouter, twilio:CreateMessage, airtable:ActionCreateRecord, airtable:ActionSearchRecords, airtable:ActionUpdateRecords"]
    }
}

