Package 4A - Lead Reactivation Suite/Scenario 4A-B - Smart Segmentation Reactivation.blueprint.json
{
    "name": "Scenario 4A-B - Smart Segmentation Reactivation",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appo7Y0cbtd1wa8Ph",
                "table": "tblmVnZaaWToTXxaR",
                "config": {
                    "labelField": "Company",
                    "triggerField": "Last Modified Time"
                },
                "formula": "AND({Do Not Contact} = 0, OR({Status} = \"cold_30d\", {Status} = \"no_reply_14d\", {Status} = \"no_show\"))",
                "maxRecords": 10,
                "__IMTCONN__": 5591761,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "route": "switch",
                "cases": [
                    {
                        "value": "cold_30d",
                        "filter": "{{1.Status}} = \"cold_30d\""
                    },
                    {
                        "value": "no_reply_14d",
                        "filter": "{{1.Status}} = \"no_reply_14d\""
                    },
                    {
                        "value": "no_show",
                        "filter": "{{1.Status}} = \"no_show\""
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:createModelResponse",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5551481
            },
            "mapper": {
                "input": "Write a personalized reactivation message for a COLD LEAD (not contacted in 30+ days):\n\nCompany: {{1.Company}}\nContact Name: {{1.`Contact Full Name`}}\nRole: {{1.`Contact Role`}}\nIndustry: {{1.Industry}}\nLast Contact: {{1.`Last Out Reach`}}\nPrevious Notes: {{1.Notes}}\n\nStrategy:\n- Acknowledge the time gap gently\n- Offer new value or insights\n- Soft re-engagement approach\n- Be understanding, not pushy\n- Suggest a quick check-in call\n\nReturn ONLY valid JSON:\n{\n  \"subject\": \"Reconnecting: [value proposition]\",\n  \"body\": \"Your message...\",\n  \"channel\": \"email\",\n  \"tone\": \"warm_reconnect\"\n}",
                "model": "gpt-4o",
                "store": true,
                "format": {
                    "type": "json_object"
                },
                "reasoning": {},
                "background": false,
                "truncation": "auto",
                "inputContentType": "text",
                "createConversation": true,
                "parallel_tool_calls": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": -100
                }
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:createModelResponse",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5551481
            },
            "mapper": {
                "input": "Write a personalized reactivation message for a NO-REPLY LEAD (contacted but no response in 14+ days):\n\nCompany: {{1.Company}}\nContact Name: {{1.`Contact Full Name`}}\nRole: {{1.`Contact Role`}}\nIndustry: {{1.Industry}}\nLast Contact: {{1.`Last Out Reach`}}\nPrevious Notes: {{1.Notes}}\n\nStrategy:\n- Reference previous outreach\n- Offer alternative value proposition\n- Make it easy to respond\n- Acknowledge they may be busy\n- Provide a simple next step\n\nReturn ONLY valid JSON:\n{\n  \"subject\": \"Quick follow-up: [relevant topic]\",\n  \"body\": \"Your message...\",\n  \"channel\": \"email\",\n  \"tone\": \"friendly_followup\"\n}",
                "model": "gpt-4o",
                "store": true,
                "format": {
                    "type": "json_object"
                },
                "reasoning": {},
                "background": false,
                "truncation": "auto",
                "inputContentType": "text",
                "createConversation": true,
                "parallel_tool_calls": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:createModelResponse",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5551481
            },
            "mapper": {
                "input": "Write a personalized reactivation message for a NO-SHOW LEAD (missed appointment/meeting):\n\nCompany: {{1.Company}}\nContact Name: {{1.`Contact Full Name`}}\nRole: {{1.`Contact Role`}}\nIndustry: {{1.Industry}}\nLast Contact: {{1.`Last Out Reach`}}\nPrevious Notes: {{1.Notes}}\n\nStrategy:\n- Acknowledge the missed meeting gently\n- Show understanding (things come up)\n- Offer to reschedule easily\n- Provide flexible options\n- Keep it brief and friendly\n\nReturn ONLY valid JSON:\n{\n  \"subject\": \"Reschedule? [flexible options]\",\n  \"body\": \"Your message...\",\n  \"channel\": \"sms\",\n  \"tone\": \"understanding_reschedule\"\n}",
                "model": "gpt-4o",
                "store": true,
                "format": {
                    "type": "json_object"
                },
                "reasoning": {},
                "background": false,
                "truncation": "auto",
                "inputContentType": "text",
                "createConversation": true,
                "parallel_tool_calls": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 100
                }
            }
        },
        {
            "id": 6,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 197771
            },
            "mapper": {
                "json": "{{3.text.output[0].content[0].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": -100
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "AI JSON"
                        }
                    }
                }
            }
        },
        {
            "id": 7,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 197771
            },
            "mapper": {
                "json": "{{4.text.output[0].content[0].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "AI JSON"
                        }
                    }
                }
            }
        },
        {
            "id": 8,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 197771
            },
            "mapper": {
                "json": "{{5.text.output[0].content[0].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 100
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "AI JSON"
                        }
                    }
                }
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "route": "if-else"
            },
            "mapper": {
                "filter": "{{6.channel}} = \"email\" OR {{7.channel}} = \"email\""
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": -50
                }
            }
        },
        {
            "id": 10,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 5834162
            },
            "mapper": {
                "to": [
                    "{{1.`Contact Email`}}"
                ],
                "content": "<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><h2 style=\"color: #333;\">Hi {{1.`Contact Full Name`}},</h2><div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 5px; margin-bottom: 20px;\">{{IF({{1.Status}} = \"cold_30d\", {{6.body}}, {{7.body}})}}</div><div style=\"text-align: center;\"><a href=\"https://calendly.com/skillztechchannel/15-minute-demo-call?source=reactivation\" style=\"background-color: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: bold;\">Schedule a Call</a></div><div style=\"text-align: center; margin-top: 20px; color: #6c757d; font-size: 12px;\"><a href=\"#unsubscribe\">Unsubscribe</a></div></div>",
                "subject": "{{IF({{1.Status}} = \"cold_30d\", {{6.subject}}, {{7.subject}})}}",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": -50
                }
            }
        },
        {
            "id": 11,
            "module": "twilio:CreateMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5551481
            },
            "mapper": {
                "to": "{{1.`Contact Phone`}}",
                "from": "+1234567890",
                "body": "{{8.body}} Reply STOP to opt out."
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                }
            }
        },
        {
            "id": 12,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5591761,
                "base": "appo7Y0cbtd1wa8Ph",
                "table": "tblmVnZaaWToTXxaR"
            },
            "mapper": {
                "id": "{{1.id}}",
                "record": {
                    "Email Campaign": "reactivation_segmented",
                    "Last Out Reach": "{{now}}",
                    "Status": "reactivation_sent",
                    "Notes": "{{1.Notes}}\n\n--- Segmented reactivation sent at {{now}} for segment: {{1.Status}} ---"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 50
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": ["All modules verified working: airtable:TriggerWatchRecords, builtin:BasicRouter, openai-gpt-3:createModelResponse, json:ParseJSON, google-email:sendAnEmail, twilio:CreateMessage, airtable:ActionUpdateRecords. Twilio requires manual setup after import."]
    }
}

