Package 4A - Lead Reactivation Suite/Scenario 4A-C - Reactivation with Booking.blueprint.json
{
    "name": "Scenario 4A-C - Reactivation with Booking",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appo7Y0cbtd1wa8Ph",
                "table": "tblmVnZaaWToTXxaR",
                "config": {
                    "labelField": "Company",
                    "triggerField": "Last Modified Time"
                },
                "formula": "AND({Last Out Reach} < TODAY() - 14, {Reply Received} = 0, {Meeting Booked} = 0, {Do Not Contact} = 0, OR({Contact Email} != \"\", {Contact Phone} != \"\"))",
                "maxRecords": 10,
                "__IMTCONN__": 5591761,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:createModelResponse",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5551481
            },
            "mapper": {
                "input": "Write a personalized reactivation message with booking CTA for this inactive lead:\n\nCompany: {{1.Company}}\nContact Name: {{1.`Contact Full Name`}}\nRole: {{1.`Contact Role`}}\nIndustry: {{1.Industry}}\nLast Contact: {{1.`Last Out Reach`}}\nPrevious Notes: {{1.Notes}}\n\nRequirements:\n- Acknowledge time since last contact\n- Highlight value proposition\n- Include strong booking call-to-action\n- Make booking easy and appealing\n- Suggest specific next steps\n- Keep professional and warm\n\nAvailable booking times (suggest): Tomorrow 2pm, Thursday 10am, Friday 3pm\n\nReturn ONLY valid JSON:\n{\n  \"subject\": \"Ready to reconnect? [booking incentive]\",\n  \"body\": \"Your message...\",\n  \"sms_message\": \"Your short SMS with booking link...\",\n  \"booking_link\": \"https://calendly.com/skillztechchannel/15-minute-demo-call?source=reactivation\",\n  \"suggested_times\": [\"Tomorrow 2pm\", \"Thursday 10am\", \"Friday 3pm\"]\n}",
                "model": "gpt-4o",
                "store": true,
                "format": {
                    "type": "json_object"
                },
                "reasoning": {},
                "background": false,
                "truncation": "auto",
                "inputContentType": "text",
                "createConversation": true,
                "parallel_tool_calls": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 197771
            },
            "mapper": {
                "json": "{{2.text.output[0].content[0].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "AI JSON"
                        }
                    }
                }
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "route": "if-else"
            },
            "mapper": {
                "filter": "{{1.`Contact Email`}} != \"\" AND LENGTH({{1.`Contact Email`}}) > 5"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            }
        },
        {
            "id": 5,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 5834162
            },
            "mapper": {
                "to": [
                    "{{1.`Contact Email`}}"
                ],
                "content": "<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><h2 style=\"color: #333;\">Hi {{1.`Contact Full Name`}},</h2><div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 5px; margin-bottom: 20px;\">{{3.body}}</div><div style=\"text-align: center; margin-bottom: 20px;\"><a href=\"{{3.booking_link}}\" style=\"background-color: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: bold;\">Book Your Call Now</a></div><div style=\"background-color: #e7f3ff; padding: 15px; border-radius: 5px; margin-bottom: 20px;\"><strong>Suggested Times:</strong><br>{{JOIN({{3.suggested_times}}, \", \")}}</div><div style=\"text-align: center; margin-top: 20px; color: #6c757d; font-size: 12px;\"><a href=\"#unsubscribe\">Unsubscribe</a></div></div>",
                "subject": "{{3.subject}}",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                }
            }
        },
        {
            "id": 6,
            "module": "twilio:CreateMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5551481
            },
            "mapper": {
                "to": "{{1.`Contact Phone`}}",
                "from": "+1234567890",
                "body": "{{3.sms_message}} {{3.booking_link}} Reply STOP to opt out."
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 200
                }
            }
        },
        {
            "id": 7,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5591761,
                "base": "appo7Y0cbtd1wa8Ph",
                "table": "tblmVnZaaWToTXxaR"
            },
            "mapper": {
                "id": "{{1.id}}",
                "record": {
                    "Email Campaign": "reactivation_booking",
                    "Last Out Reach": "{{now}}",
                    "Status": "reactivation_booking_sent",
                    "Notes": "{{1.Notes}}\n\n--- Reactivation with booking CTA sent at {{now}} via {{IF({{1.`Contact Email`}} != \"\", \"email\", \"sms\")}} ---\nBooking Link: {{3.booking_link}}\nSuggested Times: {{JOIN({{3.suggested_times}}, \", \")}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 100
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": ["All modules verified working: airtable:TriggerWatchRecords, openai-gpt-3:createModelResponse, json:ParseJSON, builtin:BasicRouter, google-email:sendAnEmail, twilio:CreateMessage, airtable:ActionUpdateRecords. Twilio and Google Calendar require manual setup after import."]
    }
}

